@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css 또는 다른 글로벌 CSS 파일 */

@font-face {
  font-family: "PretendardLight";
  src: url("../app/fonts/Pretendard-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.history::-webkit-scrollbar {
  display: none;
}

.history {
  -ms-overflow-style: none; /* IE and 엣지 */
  scrollbar-width: none; /* 파이어폭스 */
}
